:root {
  --dark-blue: #363F5F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  font-family: 'Poppins', sans-serif;
}

/* o sr.only vai manter o conteúdo visível somente para os leitores de tela */
.sr-only {
  /* position: absolute é sempre relativo ao ao elemento pai que ele está 
    Se o elemento pai tiver um position relative o elemento filho que receber
    o position absolute vai ficar na frente de outros elementos irmãos
  */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  /* se 90vw(90 de tudo o que esta sendo visualizado) for menor que 800px
    então ele vai colocar 90% de largura do viewport da tela se não ele vai
    colocar 800px 
  */
  width: min(90vw, 800px);

/* margin: auto vai igualar as margens proporcionalmente horizontal */
  margin: auto;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);

  font-weight: normal;
}

header {
  background: #2D4A22;
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  color: #FFF;
  font-weight: 200;
}

#balance {
  margin-top: -8rem;
}

#balance h2 {
  color: #FFF;
  margin-top: 0;
}

.card {
  background: #FFF;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;

  margin-bottom: 2rem;

  color: var(--dark-blue);
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;
}

.card p {
  font-size: 2rem;
  /* line-height é a separação de linha, caso ocorra uma quebra de linha ele
    terá uma quebra de linha
  */
  line-height: 3rem;

  margin-top: 1rem;
}

.card.total {
  background: #49AA26;
  color: #FFF;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969CB3;
}

table thead tr th:first-child, 
table tbody tr td:first-child  {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead th {
  background: #FFF;

  font-weight: normal;
  padding: 1rem 2rem;

  text-align: left;
}

table tbody tr {
  opacity: 0.7;
}
table tbody tr:hover {
  opacity: 1;
}

table tbody td {
  background: #FFF;

  padding: 1rem 2rem;
}

td.description {
  color: var(--dark-blue);
}

td.income {
  color: #12A454;
}

td.expense {
  color: #E92929;
}

footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);

  opacity: 0.6;
}