* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  font-family: 'Poppins', sans-serif;
}

.container {
  /* se 90vw(90 de tudo o que esta sendo visualizado) for menor que 800px
    então ele vai colocar 90% de largura do viewport da tela se não ele vai
    colocar 800px 
  */
  width: min(90vw, 800px);

/* margin: auto vai igualar as margens proporcionalmente horizontal */
  margin: auto;
}

header {
  background: #2D4A22;
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  color: #FFF;
  font-weight: 200;
}

footer {
  text-align: center;
}