#transaction {
  display: block;
  width: 100%;

  /* para o data-table quando for necessário o overflow-x: auto vai criar
    uma rolagem no eixo X automática, somente para o data-table
  */
  overflow-x: auto;

  animation-duration: 5s;
  animation-name: slidein;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969CB3;
}

table thead tr th:first-child, 
table tbody tr td:first-child  {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

table thead th {
  background: #FFF;

  font-weight: normal;
  padding: 1rem 2rem;

  text-align: left;
}

table tbody tr {
  opacity: 0.7;
}
table tbody tr:hover {
  opacity: 1;
}

table tbody td {
  background: #FFF;

  padding: 1rem 2rem;
}

td.description {
  color: var(--dark-blue);
}

td.income {
  color: #12A454;
}

td.expense {
  color: #E92929;
}