#themes {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#themes label {
  width: 50px;
  height: 26px;
  background-color: #F0F0F7;
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
#themes #ball {
  width: 22px;
  height: 22px;
  background-color: #32264D;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.2s linear;
}
#themes #checkbox {
  opacity: 0;
  position: absolute;
}
#themes #checkbox:checked + label #ball {
  transform: translateX(24px);
}

.theme-dark {
  background-color: #202024;
}
.theme-dark header {
  background-color: #191622;
}
.theme-dark .card {
  background-color: #7159c1;
  color: #f0f0f5;
}
.theme-dark .card.total {
  background-color: #04D361;
  color: #efefef;
}
.theme-dark .card.total-expense {
  background-color: #E92929;
}
.theme-dark #transaction #data-table thead th {
  background-color: #1c1c1c;
}
.theme-dark #transaction #data-table tbody td {
  background-color: #191622;
}

.theme-dark #transaction #data-table tbody td:first-child {
  color: #FFF;
}

.theme-dark #transaction #data-table td.descritpion {
  color: #f0f0f5;
}
.theme-dark #form h2 {
  color: #f0f0f5;
}
.theme-dark #form form input {
  color: #f0f0f5;
  background-color: #7159c1;
}
.theme-dark #form .input-group small {
  color: #f0f0f5;
}
.theme-dark footer {
  color: #f0f0f5;
}
.theme-dark .modal-overlay .modal {
  background-color: #191622;
}

.theme-dark .modal-overlay .modal .form h2 {
  color: #FFF;
}